@import "swiper/css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Bebas Neue", serif;
}
body {
  font-size: 90%;
  overflow-x: hidden;
}
.sign-font {
  font-family: "Shadows Into Light", serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #4594ec;
  border-radius: 3px;
}
